@font-face {
	font-family: JudsonR;
	src: local('Times New Roman'),
	     local('Arial'),
	url('../fonts/site/Judson-Regular.ttf') format('truetype').
	url('../fonts/site/Judson-Regular.otf') format('opentype');
}

html, body {
	margin: 0 !important;
	padding: 0 !important;
	min-height: 100% !important;
	font-family: JudsonR;
}

main {
	display: grid;
	grid-template-columns: auto 80%;
	grid-template-rows: 13vh 80vh 7vh;
}
nav {

	overflow: hidden;
	overflow-y: auto;

	grid-column: 1;
	grid-row: 2;
}

header {
	grid-column: 1 / 3;
	grid-row: 1;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 100%;
}

header img {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	width:auto;
	cursor: pointer;
	grid-column: 1;
	grid-row: 1;
}

header h1 {
	margin-right: auto;
	margin-left: auto;
	font-size: 5vh;
	grid-column: 2;
	grid-row: 1;
}

#mainMenuIconDiv {
	display: none;
	font-size: 80px;
	cursor: pointer;
}

	
nav ul {
	margin-top: 25px;
	list-style-type: none;
	font-size: 14px;
	padding-left: 0;
}
nav ul li {
	width: 100%;
	/*width: 8vw;*/	
	/*height: 100%;*/
	
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 5px;
	
	overflow: hidden;
}

nav ul li:hover {
	opacity: 0.7;
	background: white;
}

nav ul li:last-child {
	border: 0;
}

nav ul li p {
	text-align: center;
	/*position: relative;
	margin-top: 30%;
	margin-top: 3.5vh;*/
}

nav ul li p a, #congress nav ul li p a {
	text-decoration: none;
}

section#main {
	grid-column: 2;
	grid-row: 2;
	margin:25px 15px 0 15px;
	overflow: hidden;
	overflow-y: auto;
}


#mainContener {
	overflow: hidden;
	position: relative;
	top: 100px;
	top: 10vh;
}

#mainContener figure {
	margin: 0;
	height: 45rem;
	height: 90vh;
	text-align: center;
	position: relative;
	overflow: hidden;
}

#mainContener figure figcaption {
	position: absolute;
	top: 60%;
	top: 60vh;
	right: 10%;
	right: 10vh;
	z-index: 2;
	animation: figcaptioAnim 2s;
}

#mainContener figure figcaption a {
	color: white;
}

#mainContener figure figcaption a:visited {
	color: white;
	font-weight: bold;
}

@keyframes figcaptioAnim {
	0% {transform: translate3d(-1000%,0,0);}
	100% {transform: translate3d(0,0,0);}
}

#mainContener figure figcaption::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.7;
	z-index: -1;
}

/* #mainContener figure img { */
#mainContener figure div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
/* 	visibility: hidden; */
	opacity: 0;
	transition: opacity 1.5s;
}

footer {
	/*height: 5vh;*/
	overflow: hidden;
	text-align: center;
	font-size: 2vh;
	margin: 0;
	grid-column: 1 / 3;
	grid-row: 3;
}
footer p {
	margin: 2.5vh 0;
}
section {
	margin-top: 5%;
	margin-top: 5vh;
	overflow: hidden;
}
#contact .contactLangTip {
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
}

#contact .contactLangTip #plFlag, #contact .contactLangTip #enFlag {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	top: 6px;
	cursor: pointer;
	margin-right: 12px;
}

#contact .contactLangTip #plFlag {
	background-image: url('../img/round_flags/pl.png');
}

#contact .contactLangTip #enFlag {
	background-image: url('../img/round_flags/uk.png');
}

section h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 800;
}

#news {
	margin: 0;
	margin-left: 5%;
	margin-left: 12vh;
	margin-right: 5%;
	margin-right: 12vh;	
}

#news article {
	display: flex;
	flex-wrap: wrap;
}

.newsObj {
	border-bottom: 1px solid;
}

#news .newsObj {
	position: relative;
	width: 32%;
	height: 30vh;
	
	margin-right: 0.5vh;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
}

#news .newsObj .newsText {
	position: relative;
	transform: translate3d(0, calc(100% - 50px), 0);
	transition: transform 1s;
	overflow: hidden;
	height: 100%;
	font-weight: 900;
	z-index: 2;
}

#news .newsObj .newsText::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.8;
	z-index: -1;
	transition: opacity 0.5s;
}
#news .newsObj:hover .newsText::after {
	opacity: 0.95;
}

#news .newsObj:hover .newsText {
	transform: translate3d(0,0,0);
}

/*#news .newsObj:hover .newsText .newsMore {
	transform: translate3d(0,0,0);
	bottom: 5px;
}*/

.newsMore {
	//display: inline-block;
	//border: 2px solid white;
	//overflow: hidden;
	//position: absolute;
	//bottom: 5px;
	//right: 10px;
	cursor: pointer;
}

.newsMore:hover {
	color: darkblue;
	font-weight: bold;
}

#news .newsObj .newsMore p{
	color: white;
	margin: 5px 5px;
}

#news .newsObj h3 {
	font-size: 18px;
	text-align: center;
	font-weight: 900;
}

#congress nav {
/* 	top: 10vh; */
	left: 0;
	height: 8vh;
	width: 100%;
	text-align: center;
	z-index: 99;
	transition: top 1.5s;
}

#congress nav ul {
	display: inline-block;
	float: initial;
	clear: both;
/* 	width: 60vw; */
	padding: 0;
	margin-bottom: 0;
	margin-top: 15px;
	position: relative;
	/*font-size: 14px;
	font-size: 1.5vh;*/
	margin-left: auto;
	margin-right: auto;
}

#congress nav ul li {
	margin-right: 5px;
	border: 0;
	height: 100%;
}

#congress nav ul li p{
	margin-top: 20%;
	margin-top: calc((5vh - 2vh) / 2);
}

#congress article div h3 {
	text-align: center;
}

#about article, #congress article, #partnership article, #contact article, #auth article{
	margin: 0;
	margin-left:20%;
	margin-left: 20vh;
	margin-right: 20%;
	margin-right: 20vh;
/* 	margin: 0 20vh; */
}

#contact article #addressDiv, #contact article #formContactDiv {
	float: left;
/* 	display: inline-block; */
	max-width: 50%;
	min-width: 40%;
	margin-right: 3%;
	margin-right: 5vw;
}


#mainContener section#contact {
	background-size: 100% auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#contact article {
	position: relative;
}

#contact article #formContactDiv {
	height: 100%;
	margin-right: 0;
}

#contact #addressDiv {
	position: relative;
	top: 0;
	font-size: 20px;
	font-weight: 900;
	padding: 0 15px;
}

#contact #addressDiv::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.3;
}

#formContactDiv {
	position: relative;
	z-index: 20;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
}

#formContactDiv::after {
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	z-index: -1;
}

#formContactDiv input, #formContactDiv select, #formContactDiv textarea, #formContactDiv button, #formContactDiv #uploadGauge {
	width: 20rem;
	width: 30vw;
	max-width: 20rem;
	max-width: 30vw;
	min-width: 15rem;
	min-width: 15vw;
	
	padding: 0;
	outline: 0;
	min-height: 1.2em;
	min-height: 3vh;
	margin-bottom: 10px;
	font-size: 14px;
}

#formContactDiv input, #formContactDiv select, #formContactDiv textarea {
	border: 0;
}

#formContactDiv div input[type=checkbox] {
	width: 18px;
	float: left;
	min-width: 0;
}

#formContactDiv div input[type=checkbox]~p {
	display: inline-block;
	margin-top: 0;
	max-width: 18.7rem;
	max-width: 28.7vw;
}



#formContactDiv textarea{ 
	min-height: 6em;
	min-height: 6vh;
}

#formContactDiv div {
	position: relative;
}

#formContactDiv .span {
	position: relative;
	display: inline-block;
	top: 5px;
	margin-left: 10px;
	height: 25px;
	width: 25px;
	background: white;
	color: black;
	border-radius: 45px;
	overflow: hidden;
	cursor: help;
	text-align: center;
}

#formContactDiv .span::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

#formContactDiv .span i {
	position: relative;
	top: 5px;
}

#formContactDiv #uploadGauge {
	position: relative;
	overflow: hidden;
	height: 30px;
}

#formContactDiv #uploadGauge div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	overflow: hidden;
}

#formContactDiv #uploadGauge div p{
	border: 0;
	margin: 0;
	font-size: 20px;
	margin-top: 3px;
	text-align: center;
	display: inline-block;
}

#map {
	position: relative;
	height: 25rem;
	height: 40vh;
}

#map::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#upClick {
	position: fixed;
	z-index: 10000;
	bottom: 1em;
	bottom: 3vh;
	right: 1em;
	right: 2vw;
	height: 60px;
	width: 60px;
	border-radius: 45px;
	display: none;
	opacity: 0.3;
	text-align: center;
	cursor: pointer;
}

#upClick i {
	font-size: 40px;
	position: relative;
	top: 10px;
	top: calc(50% - 40px / 2);
}

#upClick:hover {
	opacity: 1;
}

#mainContener section.iconsFont article {
	display: flex;
}

#mainContener section article .iconSection {
	width: 20%;
	width: 20vw;
	overflow: hidden;
}

#mainContener section.iconsFont article i{
	position: relative;
	text-align: center;
	font-size: 12rem;
	width: 100%;
	top: calc(50% - 12rem / 2);
	opacity: 0.4;
} 

#mainContener section.iconsFont article div{
/* 	display: inline-block; */
	padding-right: 5rem;
	padding-right: 5vw;
	
}

#newsDivBack {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	height: 100vh;
	display:none;
	z-index: 1000;
}

#newsDivBack::before {
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.6;
	z-index: -1;
	overflow: hidden;
}

#newsDivBack .main {
	position: relative;
	margin: 0;
	background: white;
	top: 0;
	width: 80%;
	min-height: 100%;
	height: 500px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	z-index: 10000;
}
#newsDivBack .main {
	transform: scale3d(0.1,0.1, 1);
	transition: transform 2s;
}

#newsDivBack .main i#exit {
	position: absolute;
	top: 2%;
	top: 1vh;
	right: 1%;
	right: 1vh;
	font-size: 25px;
	font-size: 5vh;
	cursor: pointer;
}

#newsDivBack .main div {
	width: 80%;
	padding-left: 20px;
}

#newsDivBack .main div img {
	margin-right: 10px;
}

#tipLabel {
	position: absolute;
	display: none;
	background: white;
	border: 2px solid black;
	z-index: 100000;
}	

#mainContener figure div#imgSplash {
	opacity: 1;
	position: relative;
}
#imgSplash img {
	position: absolute;
	width: 200px;
	height: 200px;
	top: calc(50% - 100px);
	left: calc(50% - 100px);
	animation: loadingSplash 5s infinite;
}

@keyframes loadingSplash {
	0% {transform: scale3d(0.7,0.7,1)}
	50% {transform: scale3d(1.2,1.2,1)}
	100% {transform: scale3d(0.7,0.7,1)}
}

#formContactDiv .error {
	position: relative;
}

#formContactDiv .error::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.6;
	z-index: -1;
}

@media screen and (max-width: 1300px) {
	#contact article #addressDiv, #contact article #formContactDiv {
		display: block;
		width: 100%;
		max-width: 100%;
	}
	#formContactDiv input, #formContactDiv select, #formContactDiv textarea, #formContactDiv button, #formContactDiv #uploadGauge{
		max-width: 80%;
		width: 80%;
	}
	#contact article #addressDiv {
		padding-right: 0;
	}
}

@media screen and (max-width: 1100px) {
	#mainContener section article .iconSection {
		display: none;
	}
	#mainContener section#contact { 
		background-size: 100% 100%;
	}
}

@media screen and (max-width: 1000px) {
	#news article {
		display: block;
		
	}
	#news .newsObj {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 700px) {
	nav {
		min-height: 100px;
		height: 100%;
		height: auto;
		height: initial;
	}
	nav img {
		height: 80px;
	}
	#mainMenuIconDiv {
		display: block;
		float: right;
		margin-top: 5px;
		margin-right: 35%;
	}
	#mainMenuIconDiv::after {
		content: '';
		display: table;
		clear: both;
	}
	nav ul {
		width: 100%;
		float: initial;
		clear: both;
		margin: 0;
		margin-top: 10px;
		font-size: 16px;
		min-width: 100%;
		display: none;
	}
	nav ul li {
		float: initial;
		clear: both;
		width: 100%;
		min-width: 100%;
		height: 24px;
		margin: 0;
		margin-bottom: 5px;
	}
	nav ul li p {
		margin: 0;
	}
	#congress nav
	{
		display: none;
	}
	#about article, #congress article, #partnership article, #contact article, #auth article{
		margin-left: 10px;
		margin-right: 20px;
	}
}

@media screen and (max-width: 600px) {
	#contact article {
		margin-left: 10px;
		margin-right: 20px;
	}
}