<p>Podstrona pozwala na zarządzanie kategoriami oraz podkategoriami. Najpierw ładowane są wszystkie dostepne kategorie. Klikając na którąkolwiek
rozwiniemy listę dostępnych podkategori i/lub kursów/szkoleń. </p>
<p>Klikając na ikonę klucza uruchamiamy edycję nazwy kategorii, subkategoroii bądź kursu/szkolenia. Ikona Kosza pozwala na usunięcie wskazanego elementu
NALEŻY JEDNAK PAMIĘTAĆ, że usunąć można tylko podkategorię/kategorię, która nie posiada dzieci (tj. podkategoria kursów, a kategoria podkategorii/kursów).</p>
<p>Kategorie/podkategorie nie posiadające elementów podrzędnych podświetlane są na czerwono (w celu potencjalnego wyłączenia ich/wyrzucenia</p>
<p>Kategorie/podkategorie można ukrywać - ikona oka. Ukryte pola będą wyświetlane na czarno</p>
<p>Przycisk 'Wyświetl wszystkie nieużywane kategorie i podkategorie' powoduje wyświetlenie elementów nie posiadających żadnych dzieci (elementów podrzędnych).
Ponieważ jest to jednak prześwietlenie całej bazy toteż może zająć więcej czasu niż wyświetlanie standardowe listy</p>
