<form method="post" action="">
	<div>
		<span>Nazwa użytkownika:</span>
		<input type="text" name="login" placeholder="Podaj swoją nazwę"/>
	</div>
	<div>
		<span>Hasło:</span>
		<input type="password" name="pass" placeholder="Wpisz swoje hasło"/>
	</div>
<input type="submit" value="Prześlij"/>
</form>
