<p>Witaj w panelu administracyjnym swojej strony. W nim możesz zmieniać większość ustawień strony, takich jak treść podstron,
nazwę użytkownika i hasło, przeglądać zarejestrowane wizyty. Aby tego dokonać należy wybrać odpowiedni odnośnik z menu po lewej stronie.
Czasami menu może zawierać podmenu - wtedy trzeba dodatkowo wybrać odpowiednią opcję</p>
<link rel="stylesheet" href="./css/menu.css"/>
<script src="./js/panel.js"></script>
<script src="./js/localizations.js"></script>
<script src="./js/settings.js"></script>
<script src="./js/categories.js"></script>
<script src="./js/galleries.js"></script>
<script src="./js/sites.js"></script>
<script src="./js/courses.js"></script>
<script src="./editor/js/editor.js"></script>
<div id='menuButtons'>
	<div onclick="openDetails(0);" class="button">
		<i class="fa fa-globe" aria-hidden="true"></i>
		<p>Menu</p>
	</div>
	<div onclick="openDetails(1);" class="button">
		<i class="fa fa-file-text" aria-hidden="true"></i>
		<p>Edycja stron WWW</p>
	</div>
	<div onclick="openDetails(2);" class="button">
		<i class="fa fa-newspaper-o" aria-hidden="true"></i>
		<p>Zarządzaj aktualnościami</p>
	</div>
<!--	<div onclick="openDetails(3);" class="button">
		<i class="fa fa-leanpub" aria-hidden="true"></i>
		<p>Zarządzaj kursami</p>
	</div>
	<div onclick="openDetails(4);" class="button">
		<i class="fa fa-graduation-cap" aria-hidden="true"></i>
		<p>Zarządzaj szkoleniami</p>
	</div>-->
<!--	<div  onclick="openDetails(5);" class="button">
		<i class="fa fa-list" aria-hidden="true"></i>
		<p>Menu oferty (edycja)</p>
	</div>-->
	<div onclick="openDetails(6);" class="button">
		<i class="fa fa-picture-o" aria-hidden="true"></i>
		<p>Galerie zdjęć</p>
	</div>
	<div onclick="openDetails(7);" class="button">
		<i class="fa fa-cogs" aria-hidden="true"></i>
		<p>Ustawienia strony</p>
	</div>
	<div class="button" onclick="logout();">
		<i class="fa fa-sign-out" aria-hidden="true"></i>
		<p>Wyloguj</p>
	</div>
</div>
<div id="settingsDiv" onclick="">
	<div id="windowDiv">
		<div id="titleSettings"><p></p><i onclick="closeDetails(this);" class="fa fa-times-circle" aria-hidden="true"></i></div>
		<div id='windowBody'>
		
		</div>
	</div>
</div>
<script>
	//document.getElementById('settingsDiv').addEventListener('mouseup', closeDetails, false);
</script>