#menuButtons{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	
}
#menuButtons::after, #settingsDiv::after {
	content: '';
	display: table;
	clear: both;
}
.button {
	width: 25%;
	padding-top: 30px;
	height: 90px;
	margin: 2%;
	float: left;
	background: #A4A4A4;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	word-break: break-all;
}
#menuButtons .button:hover, #windowDiv i:hover {
	font-weight: bold;
	box-shadow: 0 0 10px #AFAFAF;
}
#settingsDiv {
	position: fixed;
	width:100%;
	height: 100%;
	top:0;
	left: 0;
	display: none;
	z-index: 0;
}
#settingsDiv::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.6;
}
#windowDiv {
	position: absolute;
	
	background: white;
	width: 80%;
	height: 100%;
	top: 0;
	left: 10%;
	overflow: auto;
	z-index: 100000;
}
#windowDiv p {
	float: left;
}
#windowDiv i {
	cursor: pointer;
	float: right;
	font-size: 2em;
}

/* NOWE ELEMENTY ZWIĄZANE Z MINIGALERIĄ!! */
.addSiteMiniGallery {
	height:210px;
	width:100%;
	position: relative;
	overflow-y: hidden;
	overflow-x: auto;	
}

.addSiteMiniGalleryContent {
	width: 320px;
	height: 202px;
	overflow: hidden;	
	position: absolute;
	left: 0;
	top: 0;
}

.addSiteMiniGalleryScroll {
	position:absolute;
	bottom: 0;
	width: 100%;
	height: 10px;
}

.addSiteMiniGalleryScroll div {
	width: 0;
	height: 100%;
	background: gray;
}

.addSiteMiniPhoto {
	width:300px; 
	height:200px;
	border: 1px solid black;
/* 	display: inline-block; */
float: left;
	text-align:center;
	position: relative;
	margin-left: 10px;
}

.addSiteMiniPhoto:hover {
	cursor: pointer;
}

.addSiteMiniPhoto:hover::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: black;
	opacity: 0.2;
/* 	z-index: -1; */
}

#windowDiv .addSiteMiniGallery .addSiteMiniPhoto i {
	margin-top:20%;
	clear:both; 
	float:initial;
}
#windowDiv .addSiteMiniGallery .addSiteMiniPhoto i:hover {
	box-shadow: 0 0 0;
	font-weight: normal;
	cursor: default;
}

#windowDiv .addSiteMiniGallery .addSiteMiniPhoto p {
	clear:both; 
	float:initial;
	cursor: default;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
}

#windowDiv .addSiteMiniGallery .addSiteMiniPhoto .deleteMini {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0;
	z-index: 100000;
}

#windowDiv .addSiteMiniGallery .addSiteMiniPhoto .deleteMini:hover {
	cursor: pointer;
}