<section class="iconsFont" id="auth">
			<h2>Władze oddziału</h2>
			<article>
				<!--<div class="iconSection"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>-->
				<div>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Składu
zarządu:</span></p>

<ul type="disc">
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Prezes Oddziału PTE w
     Częstochowie – dr inż. Mariusz Chudzicki </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Vice Prezes Oddziału PTE w
     Częstochowie – dr inż. Dariusz Wielgórka </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Vice Prezes Oddziału PTE w
     Częstochowie – mgr Ewa Wers </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Sekretarz Oddziału PTE w
     Częstochowie – mgr Małgorzata Romanowska </span></li>
</ul>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Członkowie
Zarządu Oddziału PTE w Częstochowie:</span></p>

<ul type="disc">
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l1 level1 lfo2; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr Piotr Grabowski </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l1 level1 lfo2; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Krystyna Borkowska </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l1 level1 lfo2; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Joanna Głód – Knop </span></li>
</ul>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Komisja
Rewizyjna Oddziału PTE w Częstochowie: </span></p>

<ul type="disc">
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l0 level1 lfo3; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Agnieszka Majewska </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l0 level1 lfo3; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Stefan Szczerbak </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l0 level1 lfo3; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Teresa Zgrzebna </span></li>
</ul>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Skład biura:
</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Dyrektor
Oddziału PTE w Częstochowie - mgr Małgorzata Romanowska </span></p><p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'><strong><em>tel. 509928888</em></strong></span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>JURY
OLIMPIADY WIEDZY EKONOMICZNEJ w roku szkolnym 2020/2021</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b style="mso-bidi-font-weight: normal;"><span style='color: rgb(0, 102, 0); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Sekretarz XXXIV
Olimpiady Wiedzy Ekonomicznej Okręgowej Komisji w Częstochowie</span></b><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'> -&nbsp;&nbsp;<b style="mso-bidi-font-weight: normal;">mgr Małgorzata Romanowska</b></span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b style="mso-bidi-font-weight: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Mariusz Chudzicki -
przewodniczący</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b style="mso-bidi-font-weight: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Andrzej Bodziachowski - członek</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż.
Iwona Gorzeń-Mitka</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b style="mso-bidi-font-weight: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata Idasiak - członek</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż.
Andrzej Skibiński </span></b><b style="mso-bidi-font-weight: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>- członek</span></b></p>

<p style="margin: 0cm 0cm 0pt; line-height: normal; mso-margin-top-alt: auto;"><b><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż.
Monika Sipa</span></b><b style="mso-bidi-font-weight: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>- członek</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b style="mso-bidi-font-weight: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Ewa Wers - członek</span></b></p><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>IV edycja Konkursu "LAUR MŁODEGO EKONOMISTY" w roku szkolnym 2020/2021,&nbsp;</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>którego ambasadorkami od 2016 roku są:</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata Romanowska &amp; dr inż. Renata Stasiak-Betlejewska</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>&nbsp;</span></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Jury Konkursu "LAUR MŁODEGO EKONOMISTY" w roku szkolnym 2020/2021 zasiadają:</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Prof. dr hab. Dorota Jelonek&nbsp;</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr hab. AgataMesjasz-Lech, Porf. Pcz.</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Agnieszka Wójcik-Mazur, Prof. Pcz</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Mariusz Chudzicki</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Dariusz Wielgórka</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Monika Sipa</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Iwona Gorzeń-Mitka</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Andrzej Skibiński</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Andrzej Bodziachowski</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata Idasiak</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata Romanowska</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Ewa Wers</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>&nbsp;</span></p></span><p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><br></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>&nbsp;</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>JURY
OLIMPIADY WIEDZY EKONOMICZNEJ w roku szkolnym 2019/2020</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Sekretarz
XXXIII Olimpiady Wiedzy Ekonomicznej&nbsp; Okręgowej Komisji w Częstochowie -&nbsp;&nbsp;mgr Małgorzata
Romanowska</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż.
Mariusz Chudzicki - przewodniczący</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Andrzej
Bodziachowski - członek</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Krystyna
Borkowska - członek</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr
Małgorzata Idasiak - członek</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Ewa Wers
- członek</span></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>&nbsp;</span></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>III edycja Konkursu
"LAUR MŁODEGO EKONOMISTY" w roku szkolnym 2019/2020,&nbsp;</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>którego ambasadorkami
od 2016 roku są:</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata
Romanowska &amp; dr inż. Renata Stasiak-Betlejewska</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>&nbsp;</span></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Jury Konkursu
"LAUR MŁODEGO EKONOMISTY" w roku szkolnym 2019/2020 zasiadają:</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Prof. dr hab. Dorota
Jelonek&nbsp;</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr hab.
AgataMesjasz-Lech, Porf. Pcz.</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Agnieszka
Wójcik-Mazur, Prof. Pcz</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Mariusz
Chudzicki</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Dariusz
Wielgórka</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Monika Sipa</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Iwona
Gorzeń-Mitka</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Andrzej
Skibiński</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Krystyna Borkowska</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Andrzej
Bodziachowski</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata Idasiak</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata
Romanowska</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Ewa Wers</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>&nbsp;</span></p>

<p style="margin: 0cm 0cm 10pt;"><font face="Calibri">&nbsp;</font></p>

</div>
			</article>
		</section>