<section class="iconsFont" id="conference_Subject">
			<h2>Zakres tematyczny kongresu</h2>
			<article>
				<!--<div class="iconSection"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>-->
				<div><h1 data-name="heading" style="color:rgb(23,132,46);margin-top: 18px; margin-bottom: 10px; text-align: center;">II KONGRES MŁODYCH EKONOMISTÓW W PTE DLA GOSPODARKI POLSKI</h1><figure style="text-align: center; height: auto;" data-name="image"><img src="http://bluewaterfall.pl/pte/galleries/g3850.png" alt="Dodane zdjęcie" style="height: auto; width: 40%;"></figure><h3 data-name="heading" style="color:rgb(23,132,46);margin-top: 18px; margin-bottom: 10px; text-align: center;">Współczesne problemy ekonomii - między teorią a praktyką gospodarczą w aspekcie różnorodności</h3>
<p data-name="paragraph"><br></p><p data-name="paragraph">Temat wydarzenia ma być odzwierciedleniem szerokiego spektrum problemów i zagadnień, które swym zasięgiem obejmuje Ekonomia oraz różnorodności zainteresowań naukowych uczestników Kongresu.</p><p data-name="paragraph">W związku z tym, zapraszamy do zgłaszania wystąpień na każdy temat wchodzący w zakres przewodniego tytułu Kongresu „<em>Współczesne problemy ekonomii – między teorią a praktyką gospodarczą w aspekcie różnorodności</em>”, zwłaszcza w ramach poniższych obszarów problemowych.</p><div data-name="list"><p style="font-weight: bold">Ekonomia</p><ol style="list-style-type: decimal;"><li>Kierunki rozwoju współczesnej myśli ekonomicznej.</li><li>Współczesne problemy społecznej gospodarki rynkowej.</li><li>Internacjonalizacja w gospodarce globalnej.</li><li>Idea zrównoważonego rozwoju w ekonomii.</li><li>Pozytywne aspekty kryzysów gospodarczych.</li><li>Nauki ekonomiczne wobec problemów globalizacji.</li><li>Metody ilościowe w badaniach ekonomicznych.</li></ol></div><div data-name="list"><dl style="font-weight: bold; display: block;"></dl></div><div data-name="list"><p style="font-weight: bold;">Finanse</p><ol style="list-style-type: decimal;"><li>Rynki finansowe a wzrost gospodarczy.</li><li>Finanse publiczne i samorządowe.</li><li>Podatki w organizacjach i systemach gospodarczych.</li><li>Polityka monetarna i fiskalna.</li><li>Zarządzanie finansami w sektorze bankowym.</li><li>Decyzje finansowe przedsiębiorstw.</li><li>Rachunkowość w organizacjach i systemach gospodarczych.</li><li>Aspekty różnorodności w działalności gospodarczej.</li></ol></div><div data-name="list"><p style="font-weight: bold;">Zarządzanie</p><ol style="list-style-type: decimal;"><li>Strategiczne i operacyjne problemy przedsiębiorstw.</li><li>Współczesne problemy zarządzania korporacjami.</li><li>Powiązania sieciowe w przedsiębiorstwach i gospodarce.</li><li>Logistyka w zarządzaniu przedsiębiorstwem.</li><li>Rozwój i rola technologii informatycznych w zarządzaniu organizacjami.</li><li>Zarządzanie jakością w organizacji.</li><li>Innowacje w rozwoju gospodarczym.</li><li>Własność intelektualna w zarządzaniu organizacją.</li></ol></div><p data-name="paragraph">Prezentowane przez Prelegentów zagadnienia ujęte w referatach zostaną przydzielone na panele i sesje tematyczne. Udział w poszczególnych panelalch i sesjach będzie okazją do dyskusji na zgłaszane tematy, dając cenne dla młodych naukowców możliwości uzyskania porad i wskazówek w dalszej pracy naukowej w obszarze interesującej problematyki.</p><p data-name="paragraph">Serdecznie zapraszamy wszystkich zainteresowanych Ekonomią, również do biernego udziału w Kongresie. Przysłuchując się poruszanym zagadnieniom, rozwijając i pobudzając zainteresowania uczestników biernych liczymy na udział w przyszłych naszych wspólnych przedsięwzięciach Kongresowych.</p></div>
			</article>
		</section><section class="iconsFont" id="conference_Organizat">
			<h2>Organizatorzy</h2>
			<article>
				<!--<div class="iconSection"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>-->
				<div><p><strong>ORGANIZATOR</strong></p><p>Polskie Towarzystwo Ekonomiczne<br>
 
                                             Oddział w Częstochowie <br>                                         
                                                ul. Kilińskiego 32/34   <br>
                                                                        
                                  42-200 Częstochowa</p><p><strong>LOKALIZACJA KONFERENCJI</strong></p><p>Aula Wydziału Zarządzania<br>Politechniki Częstochowskiej<br>Al. Armii Krajowej 19 B<br>42-201 Częstochowa</p><p><strong>KOMITET ORGANIZACYJNY</strong></p><ul><li>dr inż. Mariusz Chudzicki Politechnika Częstochowska,<br>Prezes PTE Oddziału w Częstochowie Przewodniczący</li><li>mgr Małgorzata Romanowska, Sekretarz PTE Oddział w Częstochowie <br>Vice-przewodnicząca, Sekretarz organizacyjny<br></li><li>dr&nbsp; hab. Agnieszka Domańska Szkoła Główna Handlowa w Warszawie <br>Przewodnicząca Rady Naukowo-Programowej</li><li>dr inż. Renata Stasiak – Betlejewska, Politechnika Częstochowska <br>Sekretarz naukowy&nbsp;</li><li>dr inż. Dariusz Wielgórka, Politechnika Częstochowska <br>Vice-przewodniczący ds. programowych</li><li>dr Agnieszka Tylec, Politechnika Częstochowska</li><li>mgr Małgorzata Idasiak, PTE O/Częstochowa<br></li><li>mgr inż. Wojciech Glin, Politechnika Częstochowska</li></ul></div>
			</article>
		</section><section class="iconsFont" id="conference_Committee">
			<h2>Komitet naukowy</h2>
			<article>
				<!--<div class="iconSection"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>-->
				<div>
<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Składu
zarządu:</span></p>

<ul type="disc">
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Prezes Oddziału PTE w
     Częstochowie – dr inż. Mariusz Chudzicki </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Vice Prezes Oddziału PTE w
     Częstochowie – dr inż. Dariusz Wielgórka </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Vice Prezes Oddziału PTE w
     Częstochowie – mgr Ewa Wers </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l2 level1 lfo1; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Sekretarz Oddziału PTE w
     Częstochowie – mgr Małgorzata Romanowska </span></li>
</ul>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Członkowie
Zarządu Oddziału PTE w Częstochowie:</span></p>

<ul type="disc">
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l1 level1 lfo2; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr Piotr Grabowski </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l1 level1 lfo2; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Krystyna Borkowska </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l1 level1 lfo2; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Joanna Głód – Knop </span></li>
</ul>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Komisja
Rewizyjna Oddziału PTE w Częstochowie: </span></p>

<ul type="disc">
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l0 level1 lfo3; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Agnieszka Majewska </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l0 level1 lfo3; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Stefan Szczerbak </span></li>
 <li style='margin: 0cm 0cm 10pt; color: rgb(0, 0, 0); line-height: normal; font-family: "Times New Roman","serif"; font-size: 12pt; font-style: normal; font-weight: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-list: l0 level1 lfo3; tab-stops: list 36.0pt;'><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Teresa Zgrzebna </span></li>
</ul>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Skład biura:
</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Dyrektor
Oddziału PTE w Częstochowie - mgr Małgorzata Romanowska </span></p><p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'><strong><em>tel. 509928888</em></strong></span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>JURY
OLIMPIADY WIEDZY EKONOMICZNEJ w roku szkolnym 2020/2021</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b style="mso-bidi-font-weight: normal;"><span style='color: rgb(0, 102, 0); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Sekretarz XXXIV
Olimpiady Wiedzy Ekonomicznej Okręgowej Komisji w Częstochowie</span></b><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'> -&nbsp;&nbsp;<b style="mso-bidi-font-weight: normal;">mgr Małgorzata Romanowska</b></span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b style="mso-bidi-font-weight: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Mariusz Chudzicki -
przewodniczący</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b style="mso-bidi-font-weight: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Andrzej Bodziachowski - członek</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż.
Iwona Gorzeń-Mitka</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b style="mso-bidi-font-weight: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata Idasiak - członek</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż.
Andrzej Skibiński </span></b><b style="mso-bidi-font-weight: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>- członek</span></b></p>

<p style="margin: 0cm 0cm 0pt; line-height: normal; mso-margin-top-alt: auto;"><b><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż.
Monika Sipa</span></b><b style="mso-bidi-font-weight: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>- członek</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b style="mso-bidi-font-weight: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Ewa Wers - członek</span></b></p><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>IV edycja Konkursu "LAUR MŁODEGO EKONOMISTY" w roku szkolnym 2020/2021,&nbsp;</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>którego ambasadorkami od 2016 roku są:</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata Romanowska &amp; dr inż. Renata Stasiak-Betlejewska</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>&nbsp;</span></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Jury Konkursu "LAUR MŁODEGO EKONOMISTY" w roku szkolnym 2020/2021 zasiadają:</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Prof. dr hab. Dorota Jelonek&nbsp;</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr hab. AgataMesjasz-Lech, Porf. Pcz.</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Agnieszka Wójcik-Mazur, Prof. Pcz</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Mariusz Chudzicki</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Dariusz Wielgórka</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Monika Sipa</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Iwona Gorzeń-Mitka</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Andrzej Skibiński</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Andrzej Bodziachowski</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata Idasiak</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata Romanowska</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Ewa Wers</span></b></p><p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>&nbsp;</span></p></span><p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><br></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>&nbsp;</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>JURY
OLIMPIADY WIEDZY EKONOMICZNEJ w roku szkolnym 2019/2020</span></b></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Sekretarz
XXXIII Olimpiady Wiedzy Ekonomicznej&nbsp; Okręgowej Komisji w Częstochowie -&nbsp;&nbsp;mgr Małgorzata
Romanowska</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż.
Mariusz Chudzicki - przewodniczący</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Andrzej
Bodziachowski - członek</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Krystyna
Borkowska - członek</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr
Małgorzata Idasiak - członek</span></p>

<p style="margin: 0cm 0cm 10pt; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Ewa Wers
- członek</span></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>&nbsp;</span></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>III edycja Konkursu
"LAUR MŁODEGO EKONOMISTY" w roku szkolnym 2019/2020,&nbsp;</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>którego ambasadorkami
od 2016 roku są:</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata
Romanowska &amp; dr inż. Renata Stasiak-Betlejewska</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>&nbsp;</span></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Jury Konkursu
"LAUR MŁODEGO EKONOMISTY" w roku szkolnym 2019/2020 zasiadają:</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>Prof. dr hab. Dorota
Jelonek&nbsp;</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr hab.
AgataMesjasz-Lech, Porf. Pcz.</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Agnieszka
Wójcik-Mazur, Prof. Pcz</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Mariusz
Chudzicki</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Dariusz
Wielgórka</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Monika Sipa</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Iwona
Gorzeń-Mitka</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>dr inż. Andrzej
Skibiński</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Krystyna Borkowska</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Andrzej
Bodziachowski</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata Idasiak</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Małgorzata
Romanowska</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal; mso-margin-top-alt: auto;"><b><span style='color: rgb(0, 32, 96); font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>mgr Ewa Wers</span></b></p>

<p align="center" style="margin: 0cm 0cm 0pt; text-align: center; line-height: normal;"><span style='font-family: "Times New Roman","serif"; font-size: 12pt; mso-fareast-font-family: "Times New Roman"; mso-fareast-language: PL;'>&nbsp;</span></p>

<p style="margin: 0cm 0cm 10pt;"><font face="Calibri">&nbsp;</font></p>

</div>
			</article>
		</section><section class="iconsFont" id="conference_Presentat">
			<h2>Forma prezentacji</h2>
			<article>
				<!--<div class="iconSection"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>-->
				<div><p>KOMITET NAUKOWY KONGRESU</p><ul><li>Prof. Istvan Benczes WĘGRY</li><li>dr. Atul B. Borade INDIE</li><li>Assoc. Prof. Iuliana Cenar RUMUNIA</li><li>Prof. Dr. KL Chandrasekhar MALEZJA</li><li>Prof. Rossitsa Chobanova BULGARIA</li><li>dr hab. Filip Chybalski, Ph. D. POLSKA&nbsp;</li><li>Prof. Suleyman Degirmen, Ph. D. TURCJA</li><li>dr hab. Agnieszka Domańska Ph. D. POLSKA&nbsp;</li><li>Assoc. Prof. Dr. sc. Miroslav Drljača CHORWACJA</li><li>Dr Juhasz Eriká WĘGRY&nbsp;</li><li>Prof. zw. dr hab. Marian Gorynia POLSKA&nbsp;</li><li>dr hab. Janusz K. Grabara, Ph. D. POLSKA</li><li>Prof. dr Ulrike Hugl, Ph. D. AUSTRIA&nbsp;</li><li>Prof. dr. sc. Tonći Lazibat, Ph. D. CHORWACJA&nbsp;</li><li>dr hab. Prof. Pcz Dorota Jelonek POLSKA&nbsp;</li><li>Assoc. prof. Msc. Natasa Naprstkova, Ph. D. CZECHY&nbsp;</li><li>Prof. Renata Novaková SŁOWACJA&nbsp;</li><li>prof. Ing. Darja Noskievicova, CSc. CZECHY</li><li>Assoc. Prof. Kaushik Mandal, Ph. D. INDIE&nbsp;</li><li>Prof. zw. dr hab. Elżbieta Mączyńska POLSKA&nbsp;</li><li>Prof. dr Ivan Mihajlović SERBIA&nbsp;</li><li>Prof. dr. sc Leon Oblak SŁOWENIA&nbsp;</li><li>dr hab. Valeriy Okulich-Kazarin ROSJA&nbsp;</li><li>Assoc. prof. Dr Eng. Luminita Parv RUMUNIA&nbsp;</li><li>Prof. dr Nijolė Petkevičiūtė LITWA</li><li>Assoc. Prof. Maria Popa, Ph. D. RUMUNIA&nbsp;</li><li>Prof. Zoran Punosevac SERBIA&nbsp;</li><li>Assoc. Prof. Marek Potkány, Ph. D. SŁOWACJA&nbsp;</li><li>Prof. dr. Olena J. Shevtsova UKRAINA&nbsp;</li><li>Prof. zw. dr hab. Krzysztof Sokalski POLSKA</li><li>doc. Ing. Katarina Stachová, Ph. D SŁOWACJA&nbsp;</li><li>Assoc. Prof. Jana Šujanová, Ph. D. SŁOWACJA&nbsp;</li><li>dr hab. Bogdan Ślusarz Ph. D. POLSKA&nbsp;</li><li>dr hab. Robert Ulewicz Ph. D. POLSKA&nbsp;</li><li>doc. Ing. Daniela Tesarova, Ph. D. CZECHY&nbsp;</li><li>Assoc. Prof. Katarina Teplická SŁOWACJA</li><li>Ing. Adam Torok, Ph. D. WĘGRY&nbsp;</li><li>Prof. dr Italo Trevisan WŁOCHY&nbsp;</li><li>Assoc. prof. David Tucek CZECHY&nbsp;</li><li>Assoc. Prof. Zuzana Tucková, Ph. D. CZECHY&nbsp;</li><li>Prof. zw. dr hab. Aldona Frączkiewicz-Wronka POLSKA&nbsp;</li><li>Prof. zw. dr hab. Alfreda Zachorowska POLSKA</li></ul>​
						
						<p>Organizatorzy zastrzegają sobie prawo do zmian danych*</p><p>Referaty przesłane na Kongres, po uzyskaniu pozytywnych recenzji, zostaną opublikowane w formie monografii (5 pkt).             
                                      
					</p></div>
			</article>
		</section><section class="iconsFont" id="conference_Terms">
			<h2>Ważne terminy</h2>
			<article>
				<!--<div class="iconSection"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>-->
				<div><p>Termin Kongresu <strong>11-13 grudnia 2017 r.</strong>
						
						</p><ul><li><strong>20 października 2017 r.&nbsp;</strong><strong><span style="font-size:
13.5pt;line-height:107%;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi;color:red;mso-ansi-language:PL;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA"><strong><span style="font-size: 12pt; line-height: 107%;">(30 października 2017 r.)</span></strong><strong><span style="font-size: 12pt; line-height: 107%;">&nbsp;</span></strong>&nbsp;</span></strong>- Nadsyłanie zgłoszeń udziału w Kongresie wraz z abstraktem referatu, posteru &nbsp;(ew. streszczeniem wystąpienia ustnego). Zgłoszeń należy dokonywać przez <a href="#contact">formularz zgłoszeniowy</a> (należy wybrać temat ZGŁOSZENIE NA KONGRES)<br></li><li><strong><strong>20 października</strong>&nbsp;r.&nbsp;</strong><strong><span style="font-size:13.5pt;line-height:
107%;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-hansi-theme-font:
minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
color:red;mso-ansi-language:PL;mso-fareast-language:EN-US;mso-bidi-language:
AR-SA"><strong><span style="font-size: 13.5pt; line-height: 107%;"><strong><span style="font-size: 12pt; line-height: 107%;">(30 października 2017 r.)</span></strong><strong><span style="font-size: 12pt; line-height: 107%;">&nbsp;</span></strong>&nbsp;</span></strong>&nbsp;</span></strong>- ostateczny termin nadsyłania referatów na kongres oraz wniesienia opłaty kongresowej</li><li><strong><strong><strong>30 października</strong></strong>&nbsp;2017 r.&nbsp;</strong><strong><span style="font-size:
13.5pt;line-height:107%;font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi;color:red;mso-ansi-language:PL;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA"><strong><span style="font-size: 12pt; line-height: 107%;">(10 listopada 2017 r.)</span></strong>&nbsp;</span></strong>- termin nadsyłania wersji ostatecznej referatów z uwzględnieniem sugestii recenzentów.
						</li><li><strong>11 grudnia 2017 r. </strong>– termin wydania publikacji z ISBN PL oraz zagranicznym.<br></li></ul><strong><a href="#contact">
						</a><p><br></p><p><br></p></strong></div>
			</article>
		</section><section class="iconsFont" id="conference_Fees">
			<h2>Opłaty i zgłoszenia</h2>
			<article>
				<!--<div class="iconSection"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>-->
				<div><p><span style="color: rgb(23,132,46);">31 października 2017 r.</span>- Wniesienie opłaty kongresowej według jednej z opcji:</p>
<ul>
<li>opłata za udział w pełnym programie Kongresu <strong>(11–13.12.2017)</strong> obejmuje: udział w sesjach, publikacje naukowe, <strong>certyfikaty (uczestnictwa w kongresie, dla wygłaszających, szkoleniu), uczestnictwo w imprezach towarzyszących, min.: bankiet, spektakl teatralno – muzyczny młodych grup tanecznych, zwiedzanie zabytków muzealnych ziemi częstochowskiej, wycieczka, kulig po Jurze Krakowsko-Częstochowskiej w wysokości:</strong></li> 
<ul>
<li><span style="color: rgb(0,32,96);">pełne zakwaterowanie</span> <strong>850,00</strong>&nbsp;zł. (200 EURO)</li>
<li><span style="color: rgb(0,32,96);">bez zakwaterowania</span> <strong>700</strong> zł (170 EURO)</li>
<li><span style="color: rgb(0,32,96);">rabat dla członków PTE, doktorantów</span> <strong>600</strong> zł (150 EURO) <span style="color: rgb(23,132,46);">płatność do 25 października&nbsp; 2017 r.</span></li>
</ul>
<li>publikacja naukowa bez udziału w Kongresie w wysokości: <strong>200</strong> zł (50 EURO)</li>
</ul>
<p><strong>OSTATECZNY TERMIN WNIESIENIA OPŁATY NA KONGRES 31 października 2017 r.</strong></p>
						<p></p><p>Wpłat należy dokonywać na konto PTE z dopiskiem "Kongres Młodzi PTE wraz z imieniem i nazwiskiem uczestnika" (konto oraz adres w zakładce&nbsp;<a href="http://bluewaterfall.pl/pte/#contact">Kontakt</a>).</p></div>
			</article>
		</section>