<section id="contact" title="By Pudelek (Marcin Szala) (Own work(own work by uploader)) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY-SA 4.0-3.0-2.5-2.0-1.0 (http://creativecommons.org/licenses/by-sa/4.0-3.0-2.5-2.0-1.0)], via Wikimedia Commons">
				<h2>Kontakt</h2>
				<h4 class="contactLangTip"><span></span><div id="plFlag" data-lang="pl-PL" title="język polski"></div><div id="enFlag" data-lang="en-UK" title="english language"></div></h4>
				<article>
					<div id="addressDiv" title="">
					<p>"DOM EKONOMISTY"
					<p>ul. Kilińskiego 32/34
					<p>42-200 Częstochowa

					<p>tel. +48 509 - 928 - 888
					<p>e-mail: czestochowa@pte.pl, opteczwa@onet.pl, szkoleniepte@o2.pl  
					<p>www.czestochowa.pte.pl
					<p>NIP: 573-10-87-87
					<p>Regon: 150045353
					<p>KRS: 000009063       
					<p>PKO Bank Polski: 73 1020 1664 0000 3202 0166 1818
					</div>
					<div id="formContactDiv" title="">
						<div id="uploadGauge"><div><p>Postęp przesyłania </p><p style="margin-left: 10px;"></p></div></div>
						<div><button onclick="sendMailJS();">Wyślij</button></div>
						<input type="hidden" name="sid" value="<?php echo session_id();?>"/>
					</div>
				</article>
			</section>
			<section id="map">
				<h2>Dojazd</h2>
				<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDsApz-B-zMXEISpcVML4GfV8F1jd9_b7k&amp;q=Jana+Kilińskiego+32%2F34,+Częstochowa&amp;language=pl&amp;center=50.8156102,19.114128&amp;zoom=18" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen="">Mapa nie mogła zostać wyświetlona - brak dostępu do sieci internet bądź błąd usługi. Spróbuj przeładować stronę.</iframe>
			</section>