<section class="iconsFont" id="owe">
			<h2>Warsztaty OWE</h2>
			<article>
				<!--<div class="iconSection"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>-->
				<div>

<p class="MsoNormal" align="center" style="margin-bottom:6.7pt;text-align:center;
line-height:normal;mso-outline-level:2"><span style="font-size:21.0pt;
mso-bidi-font-size:20.0pt;font-family:&quot;ExoMedium&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#009C3D;mso-fareast-language:PL">Zawody I stopnia
(szkolne) XXXIV OWE<o:p></o:p></span></p><p class="MsoNormal" align="center" style="margin-bottom:8.35pt;text-align:center;
line-height:15.05pt;mso-outline-level:3"><b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:red;mso-fareast-language:PL">WAŻNY
KOMUNIKAT!</span></b><span style="mso-bidi-font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
PL"><o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:8.35pt;text-align:justify;line-height:
15.05pt;mso-outline-level:3"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
PL">Informujemy, że po uwzględnieniu rekomendacji Ministerstwa Edukacji
Narodowej (zob.&nbsp;<a href="https://www.gov.pl/web/edukacja/qa-powrot-uczniow-do-szkol-i-placowek-1-wrzesnia-2020-r"><span style="mso-bidi-font-size:11.0pt;color:#00993A">tutaj</span></a>) oraz&nbsp;wyników
badania ankietowego przeprowadzonego wśród szkół, Komitet Główny Olimpiady
Wiedzy Ekonomicznej w dniu 1 grudnia 2020 r.&nbsp; jednogłośnie przyjął uchwałę
zgodnie, z którą zawody szkolne (I stopnia) XXXIV OWE odbędą się&nbsp;</span><b><u><span style="font-size:10.0pt;mso-bidi-font-size:11.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:red;mso-fareast-language:PL">11
grudnia br</span></u></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:red;mso-fareast-language:PL">.</span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:PL">&nbsp;<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:8.35pt;text-align:justify;line-height:
15.05pt;mso-outline-level:3"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
PL">Zawody będą przeprowadzone&nbsp;</span><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:red;mso-fareast-language:PL">w trybie stacjonarnym (tradycyjnym) w
szkołach</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
PL">, które zgłosiły swój udział w XXXIV OWE. Uchwała została zaakceptowana
przez Ministerstwo Edukacji Narodowej.<b><o:p></o:p></b></span></p><p class="MsoNormal" style="margin-bottom:8.35pt;text-align:justify;line-height:
15.05pt;mso-outline-level:3"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
PL">Przypominamy, że informacja dotycząca sposobu przeprowadzenia zawodów
znajduje się w przesyłce z zestawami pytań.&nbsp;<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:8.35pt;text-align:justify;line-height:
15.05pt;mso-outline-level:3"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:
PL">Zgodnie z informacją zawody mają rozpocząć się w ustalonej pierwotnej&nbsp;</span><b><u><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:red;mso-fareast-language:PL">godz. 9:00</span></u></b><u><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:red;mso-fareast-language:PL">&nbsp;<b>nie ulga zmianie.</b></span></u><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:PL">&nbsp;Ocenione zestawy
pytań prosimy przesłać na adres właściwego Komitetu Okręgowego w&nbsp;Częstochowie
tj. <b>ul. Kilińskiego 32/34, 42-202
Częstochowa</b>, najpóźniej do </span><b><u><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:red;mso-fareast-language:PL">18 grudnia br</span></u></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#333333;mso-fareast-language:PL">. <b>(<u>decyduje data stempla pocztowego</u>).<o:p></o:p></b></span></p><p class="MsoNormal">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b style="text-align: center;"><i><span style="font-size: 12pt; font-family: &quot;Segoe UI&quot;, sans-serif; background: white;">Małgorzata Romanowska</span></i></b></p>

<p class="MsoNormal" align="center" style="margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:35.4pt;margin-bottom:.0001pt;text-align:center;
line-height:normal"><b><i><span style="font-size: 12pt; font-family: &quot;Segoe UI&quot;, sans-serif; background: white;">Sekretarz KO OWE O/Częstochowa</span></i></b><b><i><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif;"><o:p></o:p></span></i></b></p><p style="margin: 0cm 0cm 9.9pt;"><span style="background: white; line-height: 19.9333px; font-family: &quot;Segoe UI&quot;, sans-serif; font-size: 13pt;"><br></span></p><p class="MsoNormal" align="center" style="margin-bottom:6.7pt;text-align:center;
line-height:normal;mso-outline-level:2"><span style="font-size:21.0pt;
mso-bidi-font-size:20.0pt;font-family:&quot;ExoMedium&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#009C3D;mso-fareast-language:PL">Zawody I stopnia
(szkolne) XXXIV OWE<o:p></o:p></span></p><p style="margin: 0cm 0cm 10pt; text-align: justify; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;">















</p><p class="MsoNormal" style="text-align:justify">Informujemy, że w związku z
organizacją zawodów uczestnicy mogą skorzystać z organizowanej przez sekretarza
OWE w Częstochowie warsztatów on-line w zakresie sprawdzenia się testowego
wiedzy ekonomicznej, która będzie przeprowadzona w dniach <b>8 i 10 grudnia br. </b>Bazując na doświadczeniach z poprzednich lat
forma warsztatów on-line będzie przeprowadzona <b>Metodą Kahoota. </b>Szczegóły będą podane w&nbsp;dniu <b><u>7 grudnia br.</u></b> na stronie internetowej
OWE w Częstochowie i przesłane do&nbsp;opiekunów w&nbsp;szkołach zgłaszających
się do olimpiady na początku roku szkolnego 2020/2021.</p><p class="MsoNormal" align="center" style="margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:35.4pt;margin-bottom:.0001pt;text-align:center;
line-height:normal"><b><i><span style="font-size: 12pt; font-family: &quot;Segoe UI&quot;, sans-serif; background: white;">Małgorzata Romanowska</span></i></b><b><i><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif;"><o:p></o:p></span></i></b></p><p style="margin: 0cm 0cm 9.9pt;">

</p><p class="MsoNormal" align="center" style="margin-top:0cm;margin-right:0cm;
margin-bottom:0cm;margin-left:35.4pt;margin-bottom:.0001pt;text-align:center;
line-height:normal"><b><i><span style="font-size: 12pt; font-family: &quot;Segoe UI&quot;, sans-serif; background: white;">Sekretarz KO OWE O/Częstochowa</span></i></b><b><i><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif;"><o:p></o:p></span></i></b></p><p style="margin: 0cm 0cm 10pt; text-align: justify; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b style="mso-bidi-font-weight: normal;"><i style="mso-bidi-font-style: normal;"><span style="color: rgb(51, 51, 51); font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; font-size: 12pt; mso-bidi-font-size: 13.0pt;"><br></span></i></b></p><p style="margin: 0cm 0cm 10pt; text-align: justify; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><b style="mso-bidi-font-weight: normal;"><i style="mso-bidi-font-style: normal;"><span style="color: rgb(51, 51, 51); font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; font-size: 12pt; mso-bidi-font-size: 13.0pt;">Szanowni Państwo, </span></i></b></p>

<p style="margin: 0cm 0cm 10pt; text-align: justify; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style="color: rgb(51, 51, 51); font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; font-size: 12pt; mso-bidi-font-size: 13.0pt;">informujemy,
że zostało podpisane rozporządzenie Ministra Edukacji Narodowej w sprawie
szczególnych rozwiązań w okresie czasowego ograniczenia funkcjonowania
jednostek systemu oświaty w związku z zapobieganiem, przeciwdziałaniem i
zwalczaniem COVID-19 , w&nbsp; którym zostały uregulowane kwestie związane z
organizacją olimpiad i turniejów. Najważniejsze&nbsp; rozstrzygnięcia ww
rozporządzenia </span><span style="color: rgb(51, 51, 51); font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; font-size: 12pt;">to:</span></p>

<p style="margin: 0cm 0cm 10pt; text-align: justify; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style="color: rgb(51, 51, 51); font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; font-size: 12pt;">1) od dnia wejścia&nbsp; w
życie rozporządzenia tj. od&nbsp; 26 marca br. olimpiady są organizowane jako
dwustopniowe zawody wiedzy;</span></p>

<p style="margin: 0cm 0cm 10pt; text-align: justify; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style="color: rgb(51, 51, 51); font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; font-size: 12pt;">2) wszyscy uczniowie
zakwalifikowani do III etapu otrzymują tytuł finalisty, tym samym&nbsp;<strong><span style="font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">nie wyłania się laureatów olimpiad w
olimpiadach dwustopniowych;</span></strong></span></p>

<p style="margin: 0cm 0cm 10pt; text-align: justify; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style="color: rgb(51, 51, 51); font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; font-size: 12pt;">3) organizatorzy olimpiad z
etapem międzynarodowym określają warunki kwalifikacji finalistów do olimpiady
międzynarodowej;</span></p>

<p style="margin: 0cm 0cm 10pt; text-align: justify; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style="color: rgb(51, 51, 51); font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; font-size: 12pt;"><span style="mso-spacerun: yes;">&nbsp;</span>4) należy zmienić regulaminy olimpiad
najpóźniej w terminie do 10 &nbsp;kwietnia &nbsp;br.</span></p>

<p style="margin: 0cm 0cm 10pt; text-align: justify; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style="color: rgb(51, 51, 51); font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; font-size: 12pt; mso-bidi-font-size: 13.0pt;">W
związku z powyższym informujemy, że III etap (centralny) zawodów XXXIII
Olimpiady Wiedzy Ekonomicznej zostaje odwołany.</span></p>

<p style="margin: 0cm 0cm 10pt; text-align: justify; line-height: normal; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto;"><span style="color: rgb(51, 51, 51); font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Informacja o kwalifikacji finalistów do olimpiady
międzynarodowej zostanie Państwu przekazana po akceptacji przez Ministerstwo
Edukacji Narodowej stosowanych rozwiązań przyjętych przez Komitet Główny OWE.</span></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><b><i><span style="background: white; color: rgb(31, 73, 125); line-height: 115%; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;"><font face="Calibri">Szanowni Państwo,</font></span></i></b></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><b><span style="background: white; color: rgb(31, 73, 125); line-height: 115%; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;"><font face="Calibri">W załączeniu przesyłam Państwu wyniki II etapu OWE w
XXXIII edycji. Informację na ten temat dostępne są na stronie internetowej
http://owe.pte.pl/informacje/informacje-ogolne/zawody-i-stopnia-szkolne.html http://www.owe.pte.pl/upload/files/uczestnicy/niezakwalifikowani/xxxiii/xxxiiioweniezakwalifikowanizawody-okregowe.pdf</font></span></b></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><b><span style="background: white; color: rgb(31, 73, 125); line-height: 115%; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;"><font face="Calibri">oraz www.czestochowa.pte.pl w zakładce Aktualności i
OWE.</font></span></b></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><b><span style="background: white; color: rgb(31, 73, 125); line-height: 115%; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;"><font face="Calibri">&nbsp;</font></span></b></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><b><i><span style="background: white; color: rgb(31, 73, 125); line-height: 115%; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;"><font face="Calibri">Szanowni Państwo,</font></span></i></b></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><b><span style="background: white; color: rgb(31, 73, 125); line-height: 115%; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;"><font face="Calibri">W załączeniu przesyłam Państwu wyniki I etapu OWE w
XXXIII edycji. Informację na ten temat dostępne są na stronie internetowej
http://owe.pte.pl/informacje/informacje-ogolne/zawody-i-stopnia-szkolne.html </font></span></b></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><b><span style="background: white; color: rgb(31, 73, 125); line-height: 115%; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;"><font face="Calibri">oraz www.czestochowa.pte.pl w zakładce Aktualności i
OWE.</font></span></b></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><font face="Calibri"><b><span style="background: white; color: rgb(31, 73, 125); line-height: 115%; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;">Uprzejmie informuję, że terminu zawodów okręgowych
XXXIII OWE&nbsp;</span></b><span style="background: white; color: rgb(31, 73, 125); line-height: 115%; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;">z pierwotnie
zaplanowanego 10 stycznia 2020 r.&nbsp;<b>na dzień 9 stycznia 2019 r.&nbsp;</b>(rozpoczęcie
o&nbsp;godz. 11.00). Termin został już ogłoszony na stronie internetowej&nbsp;
MEN&nbsp;</span><u><span style="color: blue; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;"><a href="https://bip.men.gov.pl/dzialalnosc/komunikaty/terminy-olimpiad-w-roku-szkolnym-2019-2020.html"><span style="color: rgb(149, 79, 114); line-height: 115%; font-size: 13pt; mso-bidi-font-size: 11.0pt;">https://bip.men.gov.pl/dzialalnosc/komunikaty/terminy-olimpiad-w-roku-szkolnym-2019-2020.html</span></a></span></u><span style="background: white; color: rgb(31, 73, 125); line-height: 115%; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;">.</span></font></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><b><span style="background: white; color: red; line-height: 115%; font-family: &quot;Segoe UI&quot;,&quot;sans-serif&quot;; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL;">II etap XXXIII Olimpiady Wiedzy Ekonomicznej odbędzie
się w dniu 9&nbsp;stycznia 2020 r.&nbsp;</span></b></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><b><span style="background: white; color: red; line-height: 115%; font-family: &quot;Segoe UI&quot;,&quot;sans-serif&quot;; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL;">Zawody odbędą się w TEB Edukacja ul. Pułaskiego 4/6
III piętro Aula </span></b><b><span style="background: white; color: black; line-height: 115%; font-family: &quot;Segoe UI&quot;,&quot;sans-serif&quot;; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL;">(analogicznie tak jak w
tamtym roku 2018/2019)</span></b></p>

<p style="margin: 0cm 0cm 12pt; mso-margin-top-alt: auto;"><b><span style="background: white; color: red; line-height: 115%; font-family: &quot;Segoe UI&quot;,&quot;sans-serif&quot;; font-size: 14.5pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL;">III etap XXXIII Olimpiady Wiedzy Ekonomicznej odbędzie
się w dniu 2-5 kwietnia 2020 r.&nbsp;- zawody nie odbyły się ze względu na COVID-19 zostały odwołane</span></b></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><b><span style="background: white; color: black; line-height: 115%; font-family: &quot;Segoe UI&quot;,&quot;sans-serif&quot;; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL;">Z poważaniem</span></b></p>

<p style="margin: 0cm 0cm 12pt; mso-margin-top-alt: auto;"><span style="color: black; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;"><font face="Calibri">&nbsp;</font></span></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><b><span style="background: white; color: black; line-height: 115%; font-family: &quot;Segoe UI&quot;,&quot;sans-serif&quot;; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL;">Małgorzata Romanowska</span></b></p>

<p style="margin: 0cm 0cm 9.9pt; mso-margin-top-alt: auto;"><b><span style="background: white; color: black; line-height: 115%; font-family: &quot;Segoe UI&quot;,&quot;sans-serif&quot;; font-size: 13pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL;">Sekretarz KO OWE O/Częstochowa</span></b></p>

<p style="margin: 0cm 0cm 7.1pt; mso-margin-top-alt: auto;"><span style="color: black; line-height: 115%; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;; font-size: 12pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL;"><a href="http://bluewaterfall.pl/pte/fileLibraries/pdfs/XXXIII_OWE_Czestochowa.pdf"><span style="color: blue;">WYNIKI I ETAPU OWE XXXIII edycji</span></a></span></p>

<p style="margin: 0cm 0cm 7.1pt; mso-margin-top-alt: auto;"><span style="color: black; line-height: 115%; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;; font-size: 12pt; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-fareast-language: PL;">WYNIKI II ETAPU OWE XXXIII edycji</span></p>

</div>
			</article>
		</section>