<h2>Strona w przebudowie</h2>
<p>Szanowni Państwo. Nasza strona jest obecnie w fazie przebudowy związanej z dodawaniem jej nowej funkcjonalności.</p>
<p>Wszystkie treści z poprzedniej wersji strony są nadal dostępne.</p>
<p>Szata graficzna strony jest nadal w fazie tworzenia, przez co niektóre z treści mogą być mniej czytelne i/lub niepoprawnie wyświetlane. Serdecznie za to przepraszamy</p>
<p>Ze względu na reorganizajcję strony zachęcamy do tradycyjnego kontaktu (poprzez pocztę elektroniczną i/lub telefon) gdyż formularz kontaktowy jest także w przebudowie</p>
<p>Postaramy się w jak najszybszym czasie udostępnić Państwu nową, lepszą wersję naszego serwisu</p>
<p><input type="checkbox" name="nodisplay"/>Nie wyświetlaj komunikatu ponownie</p>
<button id="closepopup">Zamknij wiadomość</button>