<section class="iconsFont" id="publications">
			<h2>Publikacje naukowe</h2>
			<article>
				<!--<div class="iconSection"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>-->
				<div><p data-name="paragraph" style="">Poniżej znajdują się publikacje wydane przez PTE w Częstochowie:</p><a href="http://bluewaterfall.pl/pte/fileLibraries/pracePDF/WPE_mtaegwar_11_13_12_2017.pdf" target="_self" style="">Współczesne problemy ekonomii - między teorią&nbsp; a praktyką gospodarczą w aspekcie różnorodności</a><div><br></div><div><a href="http://bluewaterfall.pl/pte/fileLibraries/pracePDF/zb_pr_nauk_II_kme_11_12_2017.pdf" target="_self" style="">II Kongres młodych ekonomistów w PTE dla gospodarki Polski</a></div><div><br></div><a href="http://bluewaterfall.pl/pte/fileLibraries/pracePDF/Zbior_prac_naukowych_2.pdf" target="_self" style="">I Kongres młodych ekonomistów w PTE dla gospodarki Polski</a></div>
			</article>
		</section>