.btnContener {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.btnContener::after {
	content: '';
	display: table;
	clear: both;
}
.button {
	border-radius: 10px;
	background: #A4A4A4;
	color: white;
	float: left;
	width: 30%;
	height: 50px;
	text-align: center;
	margin-left: 10%;
	cursor: pointer;
}
.button:hover {
	font-weight: bold;
}
.buttonmini {
	height: 30px;
}
.buttonmini p {
	margin-top: 5px;
}
#infoWindow {
	display: none;
	position: fixed;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	transform: scale3d(0.1,0.1,1);
	transition: transform 1.5s;
	overflow: hidden;
	background: white;
	z-index: 500;
	text-align: center;
}
.center {
	width: 50%;
	margin-left: 25%;
	margin-right: auto;
	position: absolute;
	bottom: 10px;
}
#infoLabel {
	border: 1px solid black;
	display: none;
	position: absolute;
	background: #FAFAFA;
}
#infoLabelP {
	margin: 5px;
}
div {
	position: relative;
	margin-bottom: 10px;
}
div input, div select {
	position: absolute;
	right: 40%;
	width: 200px;
	
	
}
div input::after {
	content: '';
	position: static;

}
.info {
	position: relative;
	z-index: 100000000;
	cursor: pointer;
}
div .info {
	position: absolute;
	right: 10%;
	
	z-index: 10000000;
}

/*fieldset {
	position: relative;
	z-index: -5;
}*/
